In [8]:
print("Selamat malam, selamat datang ke kelas Hacktiv8")

Selamat malam, selamat datang ke kelas Hacktiv8

In [10]:
print("tes pake Python")

tes pake Python

# Sesi 1 - Intro to Python
Di sesi ini kita akan mempelajari basic syntax python, termasuk:
- print
- data types
  - numerik: integer, float
  - text: string (di kutip "")
  - boolean (hanya true/false)
  - list
  - dictionary
- variable

In [11]:
123
12
12354
3456

3456

karena python notebook hanya memperlihatkan data yang terakhir kita tulis di sebuah kotak, kita bisa pakai keyword "print" untuk memastikan data yang mau kelihatan, di tampilkan

In [12]:
print("a")
print("b")
print(123)
print(3456)

a
b
123
3456

## Basic Data Types
tipe data yang berdiri sendiri, mendasar, primitif, simple

1. Integer, tipe data angka numerik yang tidak memiliki desimal
2. float, untuk angka yang memiliki desimal point, dinamakan sebagai "float" bukan integer. walaupun 0.0, desimal 0, tetap dianggap float.
3. string, tipe data non-numerik, termasuk alphabet, angka, simbol, spasi, dan lain-lain. asalkan datanya dikutip.
4. boolean, true atau false, dua pilihan saja

In [ ]:
123
1
0
-500
734

untuk cek tipe data, kita bisa gunakan keyword "type"

In [13]:
type(123)

int

untuk lebih rapi, type nya kita bungkus dengan print

In [14]:
print(type(123))

<class 'int'>

class adalah sebuah konsep dalam bahasa pemrograman, untuk sebuah tipe data.

kalau mau buat tipe data custom, kita bisa buat class baru. tapi di kelas data analysis ini tidak kita pelajari.

In [15]:
print(type(-156))
print(type(0))
print(type(123654968656546578461681313))
print(type(9999999999999999999999999999999))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

2. float, untuk angka yang memiliki desimal point, dinamakan sebagai "float" bukan integer. walaupun 0.0, desimal 0, tetap dianggap float.

In [16]:
print(type(-156.8))
print(type(0.0))
print(type(123654968656546578461681313.235))
print(type(9999999999999999999999999999999.99999999999999))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

3. string, tipe data non-numerik, termasuk alphabet, angka, simbol, spasi, dan lain-lain. asalkan datanya dikutip.

In [17]:
print(type("Hacktiv8"))
print(type(""))
print(type("aku mau belajar data analysis..!"))
print(type("123746512834765 !@#%(%$&^$)"))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

4. boolean, true atau false, dua pilihan saja

karena cara menyimpan data di sebuah bahasa pemrograman sangat kaku, semua data di klasifikasi menjadi true atau false.

In [18]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

nama class untuk tipe data kita: int, float, str, bool

bisa digunakan untuk meng-convert data dari satu tipe ke tipe lainnya

In [19]:
# mau konversi 123.5 menjadi integer
int(123.5)

123

In [20]:
# mau konversi string "501" menjadi integer
int("501")

501

In [30]:
# print(int("123.5"))
# tidak bisa convert string "21.5" menjadi int, tapi bisa convert jadi float

untuk konversi float ke integer, tidak ada masalah

untuk konversi string ke integer, pastikan string nya berisi angka integer - string yang berisi angka float tidak bisa di konversi ke integer secara langsung, harus ke float dulu, baru ke integer

In [24]:
# mau konversi jadi int
print(int(12.456))
print(int("345"))
print(int(True))
print(int(False))

12
345
1
0

In [29]:
# mau konversi jadi float
print(float(12))
print(float("123.5"))
print(float(True))
print(float(False))

12.0
123.5
1.0
0.0

In [31]:
# mau konversi jadi string
print(str(12))
print(str(12.5464))
print(str("123.5"))
print(str(True))
print(str(False))

12
12.5464
123.5
True
False

In [33]:
# mau konversi jadi boolean
print(bool(-12))
print(bool(12.5464))
print(bool("123.5"))
print(bool(True))
print(bool(False))

True
True
True
True
False

Ada konsep "falsy" dimana kita menandai beberapa data sebagai False. Data lain semuanya True.

Data yang dianggap False adalah:
- boolean False
- integer 0
- float 0.0
- string ""
- list []
- tuple ()
- dictionary {}

yang kosong kosong dianggap False

yang ada isinya dianggap True, walaupun misalkan angka negatif

## Variable
data yang kita tulis sejauh ini adalah data lepas, yang terlupakan. Kita tidak bisa akses semua data yang kita tulis tadi.

Variable adalah memberikan nama ke sebuah data, jadi bisa kita panggil lagi.

cara buat Variable di Python adalah

```python
nama_variable = "data"
```

nama variable di sebelah kiri:
- BUKAN keyword python
- TIDAK dimulai dengan angka
- TIDAK ada spasi, gantikan semua spasi dengan "_"
- semua huruf kecil

In [35]:
# contoh: variable untuk nilai ujian Andi
nilai_andi = 70
NILAI_andi = 71
Nilai_andi = 72
NilaiAndi = 73
nilaiAndi = 74
nilaiANDI = 75
_nilai_andi_ = 76
_nilai_ANDI = 77

print(nilai_andi, NILAI_andi, Nilai_andi, NilaiAndi, nilaiAndi, nilaiANDI, _nilai_andi_, _nilai_ANDI)

70 71 72 73 74 75 76 77

bagi Python tidak masalah huruf besar/kecil atau simbol _ dalam sebuah variable. Hanya biar kita sebagai manusia tidak pusing, kita pakai standard cara tulis variable yang namanya snake_case

standard cara tulis nama di bahasa pemrograman ada:
- snake_case: spasi digantikan _, huruf kecil semua
- kebab-case: spasi digantikan -, huruf kecil semua
- camelCase: spasi dihapus, huruf setelah spasi jadi UPPERCASE, huruf lain smallcase
- PascalCase: huruf pertama dari setiap kata menjadi UPPERCASE, huruf lain smallcase, spasi dihapus

aku rekomen:
- variable: snake_case
- function: camelCase (nanti kita pelajari di sesi 3)
- class: PascalCase (tidak dipelajari di kelas ini)

In [36]:
nilai_andi

70

In [37]:
print(nilai_andi)

70

di Python, sebuah variable tidak terpaku ke tipe data tertentu

bisa kita ganti ganti

In [38]:
nilai_andi = "A"

print(nilai_andi)

A

In [39]:
nilai_andi = 75.5

print(nilai_andi)

75.5

## Tipe Data Terstruktur
selain tipe data simple, kadang kita perlu lebih. Bagaimana kalau kita mau simpan nilai murid murid 1 kelas (ada 6 nilai) apakah kita harus pakai 6 variable berbeda? repot diingatnya, kalau 100 murid, 100 variable?

kita pakai tipe data terstruktur, dimana 1 data bisa menyimpan banyak data. 100 angka di 1 data. 100 text di satu data. campuran angka dan text di 1 data.

# List
- dibuat dengan kurung kotak []
- setiap data yang ada di dalam sebuah list, kita pisah dengan koma ,

misalkan list berisi nama buah buahan, ada 3 buah:
```python
["apel", "jeruk", "pisang"]
```

In [40]:
# contoh lain
nilai_kelas_a = [70, 80, 90, 56, 45, 12]

print(nilai_kelas_a)

[70, 80, 90, 56, 45, 12]

In [41]:
buah_buahan = ["apel", "jeruk", "pisang"]

print(buah_buahan)

['apel', 'jeruk', 'pisang']

In [42]:
# isi data campur juga boleh

random_list = ["ada string", 555, 1.43, True, []]

print(random_list)

['ada string', 555, 1.43, True, []]

karena satu list isinya bisa banyak, bagaimana caranya kita bisa akses data tertentu dalam sebuah list? atau bagaimana caranya kita bisa tambahin/ kurangin/ edit data dalam sebuah list?

CRUD - Create Read Update Delete

setiap tipe data baru di sebuah bahasa pemrograman, kita akan coba pahami cara bikinnya (Create), cara bacanya (Read), cara edit (Update), dan cara hapus (Delete)

untuk list di Python:
- membuat kurung kotak [] untuk Create
- pakai index, angka integer urut, untuk membaca data di dalam sebuah list (Read)
- pakai index, untuk mengakses data tertentu dalam list untuk di ubah (Edit)
- bisa juga pakai operator + *
- untuk hapus bisa pakai keyword delete, tapi aku lebih rekomen dikosongkan saja list nya, jadi variable tidak ikut hilang

In [43]:
print(buah_buahan)

['apel', 'jeruk', 'pisang']

In [44]:
# Create
buah_buahan = ["apel", "jeruk", "pisang"]

# Read pakai angka urut 0,1,2,3... sesuai posisi item dalam list
# di contoh diatas, 0 - "apel", 1 - "jeruk", 2 - "pisang", 3 - error tidak ada data di posisi index 3
print(buah_buahan[0])

apel

In [45]:
print(buah_buahan[1])

jeruk

In [46]:
print(buah_buahan[2])

pisang

In [48]:
# pakai keyword len untuk cek ada berapa item dalam sebuah list
print(len(buah_buahan))

3

kalau len adalah 3, maka index adalah 0,1,2

In [49]:
# Update
print(buah_buahan)

['apel', 'jeruk', 'pisang']

In [50]:
# ubah apel menjadi Apel Fuji
buah_buahan[0] = "Apel Fuji"

In [51]:
print(buah_buahan)

['Apel Fuji', 'jeruk', 'pisang']

In [52]:
# mau nambah kelapa ke dalam list buah_buahan
buah_buahan = buah_buahan + ["kelapa"]

print(buah_buahan)

['Apel Fuji', 'jeruk', 'pisang', 'kelapa']

In [53]:
# nambah pakai keyword append, append adalah function milik list
buah_buahan.append("semangka")

print(buah_buahan)

['Apel Fuji', 'jeruk', 'pisang', 'kelapa', 'semangka']

untuk melihat keyword milik list dan apa saja yang bisa dilakukan ke sebuah list, bisa cek dokumentasi dari W3School https://www.w3schools.com/python/python_ref_list.asp

In [54]:
# untuk hapus item dalam list, pakai keyword
buah_buahan.remove("Apel Fuji")

print(buah_buahan)

['jeruk', 'pisang', 'kelapa', 'semangka']

In [57]:
# terakhir untuk Delete
# del buah_buahan
buah_buahan = []

In [58]:
print(buah_buahan)

[]

### Explore edit data untuk tipe data simple
- menggunakan operator + - * /
- membahas built-in function, fungsionalitas khusus untuk setiap tipe data, sudah dibuatkan oleh Python

In [59]:
rating = 100

print(rating)

100

In [60]:
print(rating + 20 * 3 - 5 / 2)

157.5

In [65]:
print(rating + (20 * 3) - (5 / 2))

157.5

operator di python mengikuti peraturan matematik kali bagi tambah kurang

In [66]:
# untuk string, operator yang diterima hanya + dan *
message = "halo"

print(message)

halo

In [67]:
print(message + " halo " + "Bandung")

halo halo Bandung

In [68]:
print(message * 3)

halohalohalo

In [71]:
# untuk string, punya built-in function, seperti untuk ubah case
message = "Malam ini 24 JULY kita belajar Python!"

# smallcase
print(message.lower())

# Title Case
print(message.title())

# UPPERCASE
print(message.upper())

malam ini 24 july kita belajar python!
Malam Ini 24 July Kita Belajar Python!
MALAM INI 24 JULY KITA BELAJAR PYTHON!

untuk melihat fungsi fungsi bawaan lainnya bisa ke dokumentasi di https://www.w3schools.com/python/python_ref_string.asp

# Dictionary
- dibuat dengan {}

tipe data mirip List, tapi untuk akses item dalam data ini, tidak menggunakan angka index. pakainya keyword string.

setiap item dalam dictionary dibuat sepasang, ada keyword (string) dan ada value (tipe data bebas)

```python
{"apel": 3, "jeruk": 12, "pisang": 5}
```

di dictionary diatas ada 3 item. item pertama adalah keyword "apel" dengan value integer 3.

In [72]:
# create
stok_buah = {"apel": 3, "jeruk": 12, "pisang": 5}

print(stok_buah)

{'apel': 3, 'jeruk': 12, 'pisang': 5}

In [73]:
# read

# stok apel berapa?
print(stok_buah["apel"])

3

In [74]:
print(stok_buah["jeruk"])
print(stok_buah["pisang"])

12
5

In [75]:
# update
# nambahin buah baru, misalkan semangka

stok_buah["semangka"] = 1

print(stok_buah)

{'apel': 3, 'jeruk': 12, 'pisang': 5, 'semangka': 1}

In [76]:
# ubah stok tekniknya sama, misalkan semangka ada 2
stok_buah["semangka"] = 2

print(stok_buah)

{'apel': 3, 'jeruk': 12, 'pisang': 5, 'semangka': 2}

In [77]:
# hapus
# hapus sebuah keyword, sebuah item
del stok_buah["semangka"]

print(stok_buah)

{'apel': 3, 'jeruk': 12, 'pisang': 5}

In [78]:
# rekomennya untuk hapus pakai default value saja
# di kasus ini, kalau semangka habis, kita set aja stok ke 0, bukan di delete
stok_buah["semangka"] = 0

print(stok_buah)

{'apel': 3, 'jeruk': 12, 'pisang': 5, 'semangka': 0}

In [79]:
# untuk dictionary nya sendiri, kalau mau dihapus, aku rekomen set ke {}
stok_buah = {}

print(stok_buah)

{}

untuk dictionary, beberapa built-in function yang mau kita bahas termasuk:
- melihat keys nya apa saja
- melihat values nya apa saja
- melihat items nya apa saja

In [80]:
# keys dalam sebuah dictionary
stok_buah = {"apel": 3, "jeruk": 12, "pisang": 5}

print(stok_buah.keys())

dict_keys(['apel', 'jeruk', 'pisang'])

perhatikan tipe data yang dikasih adalah dict_keys bukan list. kalau kita mau pakai teknik list, amannya kita convert jadi tipe data list.

konversi data menjadi list, kita kurung datanya dengan keyword list

In [81]:
stok_buah_keys = list(stok_buah.keys())

print(stok_buah_keys)

['apel', 'jeruk', 'pisang']

In [82]:
# values dalam sebuah dictionary
print(stok_buah.values())

dict_values([3, 12, 5])

In [83]:
# items dalam sebuah dictionary
print(stok_buah.items())

dict_items([('apel', 3), ('jeruk', 12), ('pisang', 5)])

untuk items, dia kasih kita sebuah dict_items berisi banyak tuple

() [] {}

## tuple
- dibuat dengan ()

mirip list, tipe data terstruktur, hanya sebuah tuple tidak bisa di edit

dibuat

dibaca

TIDAK di edit

In [84]:
nilai_andi = ("Andi", 70)

print(nilai_andi)

('Andi', 70)

In [88]:
print(nilai_andi[0])
print(nilai_andi[1])

Andi
70