In [1]:
import pandas as pd

In [ ]:
# pip install pandas

In [2]:
# df_nba = pd.read_csv("https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv")

In [2]:
# gabungin data di 2 kolom berbeda
df1 = pd.DataFrame({"Populasi": [12,15,18]}, index=["A", "B", "C"])
df2 = pd.DataFrame({"Income": [5,7]}, index=["A", "C"])

display(df1)
display(df2)

   Populasi
A        12
B        15
C        18

   Income
A       5
C       7

In [5]:
pd.concat([df1, df2], axis=1)

   Populasi  Income
A        12     5.0
B        15     NaN
C        18     7.0

In [6]:
df3 = pd.DataFrame({"Points": [85,90]}, index=["A", "B"])
display(df3)

   Points
A      85
B      90

In [7]:
pd.concat([df1, df2, df3], axis=1)

   Populasi  Income  Points
A        12     5.0    85.0
B        15     NaN    90.0
C        18     7.0     NaN